<footer class="footer">
  <div class="footer-container">
    <div class="footer-section footer-about">
      <h1 class="left">STARTBITZ</h1>
      <p>Empowering digital transformation through innovative software solutions and scalable platforms.</p>
    </div>

    <div class="footer-section footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><i class="fas fa-angle-right"></i> <a href="#homeSection" (click)="scrollToSection('homeSection')">Home</a></li>
        <li><i class="fas fa-angle-right"></i> <a href="#projectsSection" (click)="scrollToSection('projectsSection')">Projects</a></li>
        <li><i class="fas fa-angle-right"></i> <a href="#aboutUsSection" (click)="scrollToSection('aboutUsSection')">About Us</a></li>
        <li><i class="fas fa-angle-right"></i> <a href="#servicesSection" (click)="scrollToSection('servicesSection')">Services</a>
        </li>
      </ul>
    </div>

    <div class="footer-section footer-contact">
      <h4>Contact</h4>
      <p><i class="fas fa-envelope"></i> contact&#64;startbitz.com</p>
      <p><i class="fas fa-phone"></i> +91 12345 67890</p>
      <p><i class="fas fa-map-marker-alt"></i> Kochi, Kerala, India</p>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 <strong>Startbitz</strong>. All rights reserved.
  </div>
</footer>
